---
import { content, cardsContent } from '~/data/4-Proyects';
import { Image } from 'astro:assets';
---

<div class='bg-proyects'>
  <div class='container container-width'>
    <div class='text-right border-r-8 pr-3 border-[var(--borders)]'>
      <h1
        class='text-green-800'
        data-aos='fade-left'
        data-aos-delay='200'
      >
        {content[0].title}
      </h1>
      <h2
        data-aos='fade-left'
        data-aos-delay='400'
      >
        {content[0].subtitle}
      </h2>
    </div>
    <div class='card-container'>
      <!-- Tarjeta principal -->
      <div
        class='cards animation-card'
        data-aos='fade-up'
        data-aos-delay='400'
      >
        <div class='image-container'>
          <Image
            class='image-style'
            src='/slide_image-1.jpg'
            alt='slide_image-1'
            width={400}
            height={400}
          />
        </div>
        <div class='cards-content'>
          <h3 class='title-card'>{cardsContent[0].title}</h3>
          <p class='text-card'>
            {cardsContent[0].subtitle}
          </p>
          <div class='item-meta'>
            <p class='meta-item'>📍 {cardsContent[0].location}</p>
            <p class='meta-item'>🌱 {cardsContent[0].plants}+ Plantas</p>
            <p class='meta-item'>⏱️ {cardsContent[0].time} Semanas</p>
          </div>
          <a
            href='#'
            class='read-more'
            >Leer caso completo</a
          >
        </div>
      </div>
      <!-- Tarjeta 2 -->
      <div
        class='cards card2 animation-card'
        data-aos='fade-up'
        data-aos-delay='600'
      >
        <div class='image-container'>
          <Image
            class='image-style'
            src='/slide_image-1.jpg'
            alt='slide_image-1'
            width={400}
            height={400}
          />
        </div>
        <div class='cards-content'>
          <h3 class='title-card'>{cardsContent[0].title}</h3>
          <p class='text-card'>
            {cardsContent[0].subtitle}
          </p>
          <div class='item-meta'>
            <p class='meta-item'>📍 {cardsContent[0].location}</p>
            <p class='meta-item'>🌱 {cardsContent[0].plants}+ Plantas</p>
            <p class='meta-item'>⏱️ {cardsContent[0].time} Semanas</p>
          </div>
          <a
            href='/proyectos/restaurante-verde-providencia'
            class='read-more'
            >Leer caso completo</a
          >
        </div>
      </div>
      <!-- Tarjeta 3 -->
      <div
        class='cards card3 animation-card'
        data-aos='fade-up'
        data-aos-delay='800'
      >
        <div class='image-container'>
          <Image
            class='image-style'
            src='/slide_image-1.jpg'
            alt='slide_image-1'
            width={400}
            height={400}
          />
        </div>
        <div class='cards-content'>
          <h3 class='title-card'>{cardsContent[0].title}</h3>
          <p class='text-card'>
            {cardsContent[0].subtitle}
          </p>
          <div class='item-meta'>
            <p class='meta-item'>📍 {cardsContent[0].location}</p>
            <p class='meta-item'>🌱 {cardsContent[0].plants}+ Plantas</p>
            <p class='meta-item'>⏱️ {cardsContent[0].time} Semanas</p>
          </div>
          <a
            href='#'
            class='read-more'
            >Leer caso completo</a
          >
        </div>
      </div>
      <!-- Termina tarjetas -->
    </div>
  </div>
</div>
<style>
  @reference 'tailwindcss';

  /* === LAYOUT PRINCIPAL === */
  .bg-proyects {
    @apply bg-[var(--background2)];
  }

  .container {
    @apply min-h-[calc(100vh-15rem)] flex flex-col justify-between relative text-left;
    @apply py-20 lg:py-[160px] px-8 xl:px-0 gap-20;
  }

  /* === INTRODUCCIÓN === */

  h1 {
    @apply text-balance;
  }

  /* === CONTENEDOR DE TARJETAS === */
  .card-container {
    @apply grid grid-cols-1 grid-rows-3 gap-10 justify-center items-center;
  }

  /* === TARJETA PRINCIPAL === */
  .cards {
    @apply min-h-[400px] h-full bg-[var(--bg-cards)] p-4 lg:pl-0 grid grid-rows-[auto_1fr] grid-cols-[1fr] lg:grid-rows-[1fr] lg:grid-cols-[auto_1fr] gap-10;
    @apply w-full rounded-md;
  }

  /* === IMAGEN === */
  .image-container {
    @apply w-full h-full flex justify-center items-center;
  }

  .image-style {
    @apply transition-all ease-in-out duration-500;
  }

  .cards:hover .image-container .image-style {
    @apply brightness-75;
  }

  /* === CONTENIDO TEXTO === */
  .cards-content {
    @apply grid grid-rows-[auto_1fr_auto_auto] items-start lg:p-[45px] gap-4;
  }

  .title-card {
    @apply text-2xl font-bold;
  }

  .text-card {
    @apply line-clamp-5 overflow-hidden text-lg;
  }

  /* === METADATA === */
  .item-meta {
    @apply flex gap-2;
  }

  .meta-item {
    @apply text-sm;
  }

  /* === BOTÓN LEER MÁS === */
  .read-more {
    @apply inline-flex items-center gap-2 text-[#7fb069] font-medium transition-all duration-500 ease-in-out;
  }

  .read-more:hover {
    @apply text-[#5a8a4a] translate-x-[10px];
  }
</style>
